.label-status {
	border-radius: 13px 5px 5px 13px;
	position: relative;
	padding-left: 60px;
	transition: .2s ease-in-out;
	
	.checkbox {
		position: absolute;
		opacity: 0;
		z-index: 99;
		left: 0;
		top: 0;
		width: 60px;
		height: 30px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 50px;
		height: 26px;
		border-radius: 13px;
		background: teal;
		box-shadow: inset 0 3px 6px rgba(0,0,0,0.4);
		transition: .2s ease-in-out;
	}

	&::after {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		width: 22px;
		height: 22px;
		border-radius: 10px;
		background: #fff;
		box-shadow: 0 2px 5px rgba(0,0,0,.3);
		transition: .2s ease-in-out;
	}
}

.todo {
	&-item {
		padding: 15px;
		margin: 10px 0;
		width: calc(50% - 10px);
		background: #fff;
		border-radius: 5px;
		.btn {
			&-group {
				margin-top: 15px;
			}
			&-move {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		@media (max-width: 768px) {
			width: 100%;
		}

		&-modal {
			border: 1px solid #ddd;
			padding: 10px;
			border-radius: 5px;
			width: 100%;
		}
	}

	&-select {
		display: flex;
		margin: 15px 0;
		width: 100%;
		font-size: 1em;

		.select {
			margin-bottom: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 100%;
			font-size: 1em;
		}
	}

	&-title {
		font-size: 1.2em;
		font-weight: 700;
		margin-bottom: 15px;
	}

	&-completed {
		background-color: rebeccapurple;
		color: #fff;

		&::before {
			background: rebeccapurple;
		}
	}

	&-not-completed {
		background-color: teal;
		color: #fff;

		&::after {
			left: 26px;
		}
	}

	&-status {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 15px;

		.btn-small {
			height: 26px;
			line-height: 1rem;
			text-align: center;
		}

		@media (max-width: 425px) {
			flex-direction: column;
			align-items: center;
			.label-status {
				margin-bottom: 10px;
			}
		}
	}

	&-description {
		max-height: 150px;
		text-overflow: clip;
		overflow: hidden;
		line-height: 1.2em;
		color: #000;
	}
}
