.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50px;
	margin-bottom: 50px;
	padding: 15px;
	box-shadow: 0 0 12px #dddddd;
	background-color: #fff;

	.btn-group {
		@media (max-width: 576px) {
			margin-top: 15px;
		}
	}

	&__title {
		font-size: 3rem;
		margin-right: 50px;
	}

}

.main {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;

	@media (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}
}