.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 50px;
	margin-bottom: 50px;
	padding: 15px;
	box-shadow: 0 0 16px #ddd;
	background-color: #fff;

	&__title {
		font-size: 3rem;
	}

}

.main {
	width: 1170px;
	margin: 0 auto;
}